* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.sc {
    background-color: darkgrey;
}

.sc, #sc-side {
    display: flex;
}

#sc-main, #sc-side{
    border: 1px solid red;
}

.sc-side-tab {
    color: black;
    background-color: yellow
}

@media only screen and (max-width: 1000px) {
    .sc{
        flex-direction: column-reverse;
    }

    #sc-side {
        flex-direction: row;
        border-bottom: 2px outset darkgreen;
    }
}